<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.iotruck.mobino">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/coruja"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/coruja"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
            android:name=".ScheduleRActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/title_activity_schedule_ractivity"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name=".feature.schedule.view.ScheduleActivity"
            android:exported="true" />
        <activity
            android:name=".feature.account.view.AccountActivity"
            android:exported="true" />
        <activity
            android:name=".feature.home.view.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".feature.login.view.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".feature.maps.view.MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps">
        </activity>
        <activity
            android:name=".feature.loading.LoadingActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".feature.main.view.MainActivity"
            android:exported="true"
            android:theme="@style/AppCompat.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>